<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">加油卡消耗凭证单</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <add-button title="新增"></add-button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        Month
                                    </th>        
                                    <th style="width: 200px;">
                                        BunkerACode
                                    </th>        
                                    <th style="width: 400px;">
                                        Date
                                    </th>
                                    <th style="width: 200px;">
                                        Ss
                                    </th>        
                                    <th style="width: 200px;">
                                        Msjg
                                    </th>        
                                    <th style="width: 200px;">
                                        CardNo
                                    </th>        
                                    <th style="width: 200px;">
                                        CarCode
                                    </th>        
                                    <th style="width: 200px;">
                                        Clxh
                                    </th>        
                                    <th style="width: 200px;">
                                        Cph
                                    </th>        
                                    <th style="width: 200px;">
                                        Sy
                                    </th>        
                                    <th style="width: 200px;">
                                        Yyje
                                    </th>        
                                    <th style="width: 200px;">
                                        Jyje
                                    </th>        
                                    <th style="width: 200px;">
                                        Syje
                                    </th>        
                                    <th style="width: 200px;">
                                        Ylbh
                                    </th>        
                                    <th style="width: 200px;">
                                        Jsy
                                    </th>        
                                    <th style="width: 200px;">
                                        Note
                                    </th>        
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                                <tr role="row">
                                    <th>
                                        <input type="text" class="form-control" placeholder="Month" v-model="queryEntity.month" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="BunkerACode" v-model="queryEntity.bunkerACode" />
                                    </th>        
                                    <th>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="DateFrom" v-model="queryEntity.dateFrom" id="dateFrom" readonly="readonly" />
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="DateTo" v-model="queryEntity.dateTo" id="dateTo" readonly="readonly"/>
                                            </div>
                                        </div> 
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="CardNo" v-model="queryEntity.cardNo" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="CarCode" v-model="queryEntity.carCode" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="Clxh" v-model="queryEntity.clxh" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="Cph" v-model="queryEntity.cph" />
                                    </th>        
                                    <th>
                                        <input type="text" class="form-control" placeholder="Sy" v-model="queryEntity.sy" />
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th>
                                    </th>        
                                    <th><search-command></search-command></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.month}}</td>
                                    <td>{{item.bunkerACode}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.ss}}</td>
                                    <td>{{item.msjg}}</td>
                                    <td>{{item.cardNo}}</td>
                                    <td>{{item.carCode}}</td>
                                    <td>{{item.clxh}}</td>
                                    <td>{{item.cph}}</td>
                                    <td>{{item.sy}}</td>
                                    <td>{{item.yyje}}</td>
                                    <td>{{item.jyje}}</td>
                                    <td>{{item.syje}}</td>
                                    <td>{{item.ylbh}}</td>
                                    <td>{{item.jsy}}</td>
                                    <td>{{item.note}}</td>
                                    <td>
                                        <row-command :id="item.id" title="编辑" :name="item.name"></row-command>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot is="table-foot" colspan="17"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="oilCardProofFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Month<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="month" v-model="item.month"  v-validate:month="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">BunkerACode<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="bunkerACode" v-model="item.bunkerACode"  v-validate:bunkeracode="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Date<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input class="form-control  " placeholder="必填"  type="text" id="datePickerDate" readonly="readonly" v-model="item.date" name="date"  v-validate:date="{required:true,dateTime:true}">
                                        <i class="fa fa-calendar"></i>
                                </span>                    
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Ss<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="ss" name="ss" v-model="item.ss" v-validate:ss="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Msjg<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="msjg" name="msjg" v-model="item.msjg" v-validate:msjg="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">CardNo<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="cardNo" v-model="item.cardNo"  v-validate:cardno="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">CarCode<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="carCode" v-model="item.carCode"  v-validate:carcode="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Clxh<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="clxh" v-model="item.clxh"  v-validate:clxh="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Cph<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="cph" v-model="item.cph"  v-validate:cph="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Sy<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="sy" v-model="item.sy"  v-validate:sy="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Yyje<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="yyje" name="yyje" v-model="item.yyje" v-validate:yyje="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Jyje<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="jyje" name="jyje" v-model="item.jyje" v-validate:jyje="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Syje<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="syje" name="syje" v-model="item.syje" v-validate:syje="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Ylbh<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="ylbh" name="ylbh" v-model="item.ylbh" v-validate:ylbh="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Jsy<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="jsy" name="jsy" v-model="item.jsy" v-validate:jsy="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">Note<span class="red" >*</span></label>
                            <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="必填" id="note" name="note" v-model="item.note" v-validate:note="{int:true}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Scripts/oilCardProof.js"></script>



