/TAF.Web/bin/zh-Hans
/*/bin
/TAF.Web/log.txt
*.mdf
*.ldf
bin
obj
/TAF.Web/App_Data/Logs
/CodeSmithTemplates
/TAF.Web/App_Data
/packages
/.vs/SCBF/v15/Server/sqlite3
/.vs/SCBF/v15/sqlite3/db.lock
/.vs/SCBF/v15/sqlite3/storage.ide-shm
/.vs/SCBF/v15/sqlite3/storage.ide-wal
