/TAF.Web/bin/zh-Hans
/*/bin
/TAF.Web/log.txt
*.mdf
*.ldf
bin
obj
/TAF.Web/App_Data/Logs
/CodeSmithTemplates
/TAF.Web/App_Data
/packages
/.vs
/TAF.Web/App_Data/Attachment
/TAF.Web/App_Data/Logs
/TAF.Web/App_Data/Out

