@model List<TAF.Utility.KeyValue<string, Guid>>
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="widget">
<div class="widget-header bordered-bottom bordered-primary">
    <span class="widget-caption">系统配置</span>
</div>
<div class="widget-body">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<div class="tabbable">
<ul class="nav nav-tabs" id="myTab">
    <li class="tab-red active">
        <a data-toggle="tab" href="#status" aria-expanded="false" id="pstatus">
            车辆状态
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#drivelevel" aria-expanded="true" id="pdrivelevel">
            驾驶等级
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#minister" aria-expanded="true" id="pminister">
            部长
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#attendant" aria-expanded="true" id="pattendant">
            助理员

        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#oilHostingUnit" aria-expanded="true" id="poilHostingUnit">
            油料代管单位名称

        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#octaneRating" aria-expanded="true" id="poctaneRating">
            油料标号

        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#oilWearSummary" aria-expanded="true" id="poilWearSummary">
            夏季起止时间

        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#oilWearWinter" aria-expanded="true" id="poilWearWinter">
            冬季起止时间

        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#overhaulAmount" aria-expanded="true" id="poverhaulAmount">
            大修维护控制额
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#repairAmount" aria-expanded="true" id="prepairAmount">
            中修维护控制额
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#minorRepairAmount" aria-expanded="true" id="pminorRepairAmount">
            小修维护控制额
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#maintenanceParts" aria-expanded="true" id="pmaintenanceParts">
            维修部位
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#manHours" aria-expanded="true" id="pmanHours">
            工时
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#servicingMaterials" aria-expanded="true" id="pservicingMaterials">
            维修材料
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#year" aria-expanded="true" id="pyear">
            会计年度
        </a>
    </li>
</ul>
<div class="tab-content">
<div id="status" class="tab-pane active">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('车辆状态','Car_Status')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th   style="width: 200px;">
                        状态
                    </th>
                    <th  style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="drivelevel" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('驾驶等级','Car_DriveLevel')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        驾驶等级
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="minister" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('部长','Car_Minister')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="attendant" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('助理员','Car_Attendant')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="oilHostingUnit" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('油料代管单位名称','Car_OilHostingUnit')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="octaneRating" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('油料标号','Car_OctaneRating')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 100px;">
                        升/吨换算系数
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="oilWearSummary" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('夏季起止时间','Car_OilWearSummary')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        起始月份
                    </th> 
                    <th style="width: 200px;">
                        截止月份
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="oilWearWinter" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('冬季起止时间','Car_OilWearWinter')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        起始月份
                    </th> 
                    <th style="width: 200px;">
                        截止月份
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="overhaulAmount" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('大修控制额','Car_Overhaul')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        大修维护控制额(元)
                    </th>
                    <th style="width: 200px;">
                        年度
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" showDel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="repairAmount" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('中修控制额','Car_Repair')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        中修维护控制额(元)
                    </th>
                    <th style="width: 200px;">
                        年度
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" showDel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="minorRepairAmount" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('小修控制额','Car_MinorRepair')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        小修维护控制额(元)
                    </th>
                    <th style="width: 200px;">
                        年度
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" showDel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="maintenanceParts" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('维修部位','Car_MaintenanceParts')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        维修部位
                    </th>
                    <th style="width: 200px;">
                        部位编码
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" ></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="manHours" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('工时','Car_ManHours')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        工时类别
                    </th>
                    <th style="width: 200px;">
                        类别编码
                    </th>
                    <th style="width: 200px;">
                        工时收费标准
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" ></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="4"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="servicingMaterials" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('维修材料','Car_ServicingMaterials')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        维修材料
                    </th>
                    <th style="width: 200px;">
                        部位编码
                    </th>
                    <th style="width: 200px;">
                        市场公允单价
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value" ></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="4"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="year" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('会计年度','Car_Year')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        年度
                    </th>
                    <th style="width: 200px;">
                        是否当前年度
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value4=="True"?"是":""}}</td>
                    <td>
                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="3"></tfoot>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<div class="horizontal-space"></div>
</div>

</div>
</div>
</div>
</div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="carFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div v-if="item.category!='Car_OilWearSummary'&& item.category!='Car_OilWearWinter'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">{{item.title}}<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value" v-validate:value="{required:true}"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">起始时间<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="number" class="form-control " placeholder="必填" name="value" v-model="item.value" v-validate:value="{required:true}"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">截止时间<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="number" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="item.category=='Car_OctaneRating'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">升/吨换算系数<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="item.category=='Car_Overhaul'||item.category=='Car_Repair'||item.category=='Car_MinorRepair'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">年度<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="number" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="item.category=='Car_MaintenanceParts'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">部位编码<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="item.category=='Car_ManHours'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">类别编码<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">工时收费标准<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="number" class="form-control " placeholder="必填" name="value" v-model="item.value3" v-validate:value3="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="item.category=='Car_ServicingMaterials'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">材料编码<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value2" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">市场公允单价<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <span class="input-icon icon-right">
                                        <input type="number" class="form-control " placeholder="必填" name="value" v-model="item.value3" v-validate:value2="{required:true}" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Views/Car/carInfoIndex.js"></script>




