@model List<TAF.Utility.KeyValue<string, Guid>>
<div class="row">
    <div class=" col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">年度预算收入</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <input type="file" name="fileUpload" class="fileUpload" title="上传年度预算收入" />
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                                    <table class="table table-striped table-hover table-bordered " width="2400px">
                                        <thead>
                                            <tr role="row">
                                                <th style="width: 100px;" rowspan="4">
                                                    科目代码
                                                </th>
                                                <th style="width: 100px;" rowspan="4">
                                                    科目名称
                                                </th>
                                                <th style="width: 2100px;" colspan="22">
                                                    收入
                                                </th>
                                                <th style="width: 100px;" rowspan="4">
                                                    操作
                                                </th>
                                            </tr>
                                            <tr role="row">
                                                <th style="width: 100px;" rowspan="3">
                                                    合计
                                                </th>
                                                <th style="width: 700px;" colspan="4">
                                                    向上请领
                                                </th>
                                                <th style="width: 800px;" colspan="8">
                                                    留用经费
                                                </th>
                                                <th style="width: 800px;" colspan="8">
                                                    上年结转
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    当年预算外收入
                                                </th>

                                            </tr>
                                            <tr role="row">
                                                <th style="width: 100px;" rowspan="2">
                                                    小计
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    标准经费
                                                </th>
                                                <th style="width: 100px;" colspan="2">
                                                    项目经费
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    小计
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    留用党团费弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    留用租房维修基金弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    历年预算外结余弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    历年预算经费结余弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    当年地方保障经费弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    当年预算外收入弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    其他收入弥补
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    小计
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    地方专项经费
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    部局专项经费
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    历年预算外结余
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    历年预算经费结余
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    留用租房维修基金
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    留用党团费
                                                </th>
                                                <th style="width: 100px;" rowspan="2">
                                                    其他经费
                                                </th>
                                            </tr>
                                            <tr role="row">
                                                <th style="width: 100px;">
                                                    地方下达项目经费
                                                </th>
                                                <th style="width: 100px;">
                                                    部局下达项目经费
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in list">
                                                <td>{{item.code}}</td>
                                                <td>{{item.year}}</td>
                                                <td>{{item.column1}}</td>
                                                <td>{{item.column21}}</td>
                                                <td>{{item.column22}}</td>
                                                <td>{{item.column31}}</td>
                                                <td>{{item.column32}}</td>
                                                <td>{{item.column33}}</td>
                                                <td>{{item.column34}}</td>
                                                <td>{{item.column35}}</td>
                                                <td>{{item.column36}}</td>
                                                <td>{{item.column37}}</td>
                                                <td>{{item.column41}}</td>
                                                <td>{{item.column42}}</td>
                                                <td>{{item.column43}}</td>
                                                <td>{{item.column44}}</td>
                                                <td>{{item.column45}}</td>
                                                <td>{{item.column46}}</td>
                                                <td>{{item.column47}}</td>
                                                <td>{{item.column5}}</td>
                                                <td>
                                                    <row-command :id="item.id" title="明细" :name="item.name"></row-command>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot is="table-foot" colspan="38"></tfoot>
                                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/liteuploader.js"></script>
<script src="~/Scripts/budgetReceipt.js"></script>



