<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">车辆油料核算填报</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <button type="button" class="btn btn-primary " v-on:click="showModifyDialog('新增车辆油料核算表',null)"><i class="fa  fa-plus"></i> 新增</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        车牌号
                                    </th>        
                                    <th style="width: 200px;">
                                        月底行驶公里数
                                    </th> 
                                    <th style="width: 200px;">
                                        月底油量
                                    </th>        
                                    <th style="width: 200px;">
                                        年
                                    </th>        
                                    <th style="width: 200px;">
                                        月
                                    </th>        
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                                <tr role="row">
                                    <th>
                                    <select id="searchCarInfoId" style="width: 100%" v-model="queryEntity.carInfoId">
                                        <option value="">请选择...</option>
                                        @{
                                            foreach (var item in (List<TAF.Utility.KeyValue<string, Guid>>)ViewData["list1"])
                                            {
                                                <option value="@item.Value">@item.Key</option>
                                            }
                                        }
                                    </select>
                                    </th>        
                                    <th>
                                    </th>  
                                    <th>
                                    </th> 
                                    <th>
                                        <input type="number" class="form-control" placeholder="年" id="year" name="year" v-model="queryEntity.year" />
                                    </th>        
                                    <th>
                                        <input type="number" class="form-control" placeholder="月" id="month" name="month" v-model="queryEntity.month"  />
                                    </th>        
                                           
                                    <th>
                                    <button type="button" class="btn edit" v-on:click="query(0)"><i class="fa fa-search"></i> 搜索</button>
                                    <button type="button" class="btn edit" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in list.items">
                                    <td>{{item.carInfoName}}</td>
                                    <td>{{item.kilometres}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.year}}</td>
                                    <td>{{item.month}}</td>
                                    <td>
                                    <button type="button" class="btn   edit" v-on:click="showModifyDialog('编辑车辆油料核算表',item.id)"><i class="fa fa-edit"></i> 编辑</button>
                                    <button type="button" class="btn btn-danger  " v-on:click="showDeleteDialog(item.id,item.carInfoName) " ><i class="fa fa-trash-o"></i> 删除</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="DTTTFooter ">
                                        <div class="col-sm-4">
                                            <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite"> {{list.from}} - {{list.to}} / {{list.total}} </div>
                                        </div>
                                        <div class="col-sm-8 ">
                                            <div class="dataTables_paginate paging_bootstrap">
                                                <ul id="container" class="pagination"></ul>
                                            </div>
                    
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 删除对话框 -->
<div class="bootbox modal fade modal-darkorange in" id="deleteCarOilDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">删除</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">确认删除{{deleteEntity.name}}？</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa   fa-mail-reply"></i> 取消</button>
                <button type="button" class="btn btn-danger" v-on:click="delete(deleteEntity.id)"><i class="fa   fa-trash-o"></i>删除</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑对话框 -->
<div class="bootbox modal fade modal-primary in" id="modifyCarOilDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{ modifyEntity.modifyTitle }}</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <div id="form">
                    <validator name="v">
                        <form class="form-horizontal " name="form" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">车辆<span class="red" >*</span></label>
                                        <div class="col-sm-10">
                                            <select id="editCarInfoId" style="width: 100%" v-model="item.carInfoId" name="carinfoid" v-validate:carinfoid="{required:true}">
                                                <option value="">请选择...</option>
                                                @{
                                                    foreach (var item in (List<TAF.Utility.KeyValue<string, Guid>>)ViewData["list1"])
                                                    {
                                                        <option value="@item.Value">@item.Key</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">月底公里数<span class="red" >*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" placeholder="必填" id="kilometres" name="kilometres" v-model="item.kilometres" v-validate:kilometres="{int:true}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">月底油量<span class="red" >*</span></label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" placeholder="必填" id="amount" name="amount" v-model="item.amount" v-validate:amount="{int:true}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">年<span class="red" >*</span></label>
                                        <div class="col-sm-10">
                                                <input type="number" class="form-control" placeholder="必填" id="year" name="year" v-model="item.year" v-validate:year="{int:true}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">月<span class="red" >*</span></label>
                                        <div class="col-sm-10">
                                            <select id="editMonth" style="width: 100%"  name="carinfoid" v-model="item.month" v-validate:month="{int:true}">
                                                <option value="">请选择...</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </validator>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                <button type="submit" class="btn btn-primary" v-on:click="saveNew()" v-show="!modifyEntity.editModel"  disabled="{{!$v.valid}}" ><i class='fa    fa-floppy-o'></i>保存新增 </button>
                <button type="submit" class="btn btn-primary" v-on:click="save()"  disabled="{{!$v.valid}}" ><i class='fa    fa-floppy-o'></i>保存关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/carOil.js"></script>



