<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">车辆油料核算填报</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        车牌号
                                    </th>
                                    <th style="width: 200px;">
                                        实际油耗
                                    </th>
                                    <th style="width: 200px;">
                                        预计油耗
                                    </th>
                                    <th style="width: 200px;">
                                        年月
                                    </th>
                                    <th style="width: 200px;">
                                        超标
                                    </th>
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                                <tr role="row">
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                        <input type="number" class="form-control" placeholder="年" id="year" name="year" v-model="queryEntity.year" />
                                    </th>
                                    <th>
                                        <select id="searchMonth" style="width: 100%"  name="carinfoid" v-model="queryEntity.month" >
                                            <option value="">请选择...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </th>

                                    <th>
                                        <button type="button" class="btn edit" v-on:click="query()"><i class="fa fa-search"></i> 搜索</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items">
                                    <td>{{item.cph}}</td>
                                    <td>{{item.actualOilWear}}</td>
                                    <td>{{item.expectOilWear}}</td>
                                    <td>{{item.yearMonth}}</td>
                                    <td>{{item.warm}}</td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="DTTTFooter ">
                                        <div class="col-sm-4">
                                            <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite">  {{item.length}} </div>
                                        </div>
                                        <div class="col-sm-8 ">
                                            <div class="dataTables_paginate paging_bootstrap">
                                                <ul id="container" class="pagination"></ul>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 删除对话框 -->
<div class="bootbox modal fade modal-darkorange in" id="deleteCarOilDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">删除</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">确认删除{{deleteEntity.name}}？</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa   fa-mail-reply"></i> 取消</button>
                <button type="button" class="btn btn-danger" v-on:click="delete(deleteEntity.id)"><i class="fa   fa-trash-o"></i>删除</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/carOilReport.js"></script>



