<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <h4 class="widget-caption">欢迎</h4>
            </div>
            <div class="widget-body">
                    <p>
                        修改密码
                    </p>
            </div>
        </div>
    </div>
</div>

