
@using TAF.Utility
@using SCBF.BaseInfo.Dto
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">实物油料消耗凭证汇总单</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="month" style="width: 150px"  v-model="queryMonth">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <button type="button" class="btn btn-default" v-on:click="query()"><i class="fa fa-search"></i> 查询</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pre-scrollable">
                            <table class="table table-striped table-hover table-bordered " style="width: 1900px">
                                <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        编号
                                    </th>
                                    <th style="width: 200px;">
                                        车辆号牌
                                    </th>
                                    <th style="width: 100px;">
                                        车辆型号
                                    </th>
                                    <th style="width: 100px;">
                                        油料号
                                    </th>
                                    <th style="width: 100px;">
                                        原有数量
                                    </th>
                                    <th style="width: 100px;">
                                        加油小计
                                    </th>
                                    <th style="width: 100px;">
                                        加油数量(升)
                                    </th>
                                    <th style="width: 400px;">
                                        事由
                                    </th>
                                    <th style="width: 100px;">
                                        驾驶员
                                    </th>

                                    <th style="width: 100px;">
                                        加油时间
                                    </th>
                                    <th style="width: 100px;">
                                        剩余油料
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.code}}</td>
                                    <td>{{item.carCode}}</td>
                                    <td>{{item.carSpecifications}}</td>
                                    <td>{{item.octaneStoreName}}</td>
                                    <td>{{item.amountFrom}}</td>
                                    <td>{{item.changedAmount}}</td>
                                    <td>{{item.auditingAmount}}</td>
                                    <td>{{item.note}}</td>
                                    <td>{{item.driverName}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.amountTo2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Views/ApplicationForBunkerB/applicationForBunkerBSummaryList.js"></script>



