<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">加油卡消耗凭证单</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="month" style="width: 150px"  v-model="queryEntity.month">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <button type="button" class="btn btn-default" v-on:click="query()"><i class="fa fa-search"></i> 查询</button>
                            <button type="button" class="btn btn-blue" v-on:click="link()"><i class="glyphicon glyphicon-link"></i> 关联</button>
                            <button type="button" class="btn btn-danger" v-on:click="showDelete()"><i class="fa fa-minus"></i> 作废</button>
                        </div>
                        <div class="col-md-5">
                            <input type="file" name="fileUpload" id="fileUpload" class="fileUpload" title="上传加油卡消耗凭证单" />
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pre-scrollable">
                            <table class="table table-striped table-hover table-bordered " style="width: 1600px">
                                <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        加油审批单号
                                    </th>
                                    <th style="width: 200px;">
                                        加油卡号
                                    </th>
                                    <th style="width: 100px;">
                                        加油时间
                                    </th>
                                    <th style="width: 200px;">
                                        事由
                                    </th>
                                    <th style="width: 100px;">
                                        原有金额
                                    </th>
                                    <th style="width: 100px;">
                                        加油金额
                                    </th>
                                    <th style="width: 100px;">
                                        剩余金额
                                    </th>
                                    <th style="width: 100px;">
                                        油料标号
                                    </th>
                                    <th style="width: 100px;">
                                        加油升数
                                    </th>
                                    <th style="width: 100px;">
                                        每升价格
                                    </th>
                                    <th style="width: 100px;">
                                        驾驶员
                                    </th>
                                    <th style="width: 200px;">
                                        备注
                                    </th>
                                    <th style="width: 100px;">
                                        操作
                                    </th>
                                </tr>
                                <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.bunkerACode}}</td>
                                    <td>{{item.carCode}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.sy}}</td>
                                    <td>{{item.yyje}}</td>
                                    <td>{{item.jyje}}</td>
                                    <td>{{item.syje}}</td>
                                    <td>{{item.ylbh}}</td>
                                    <td>{{item.jysh}}</td>
                                    <td>{{item.msjg}}</td>
                                    <td>{{item.jsy}}</td>
                                    <td>{{item.note}}</td>
                                    <td>
                                        <button type="button" class="btn   edit" v-on:click="get(item.id)"><i class="fa fa-edit"></i> 保存</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-primary">
            <span class="widget-caption">加油卡申请单</span>
        </div>
        <div class="widget-body">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 60px;" >
                        操作
                    </th>
                    <th style="width: 200px;">
                        加油审批单号
                    </th>
                    <th style="width: 200px;">
                        加油卡号
                    </th>
                    <th style="width: 100px;">
                        审批金额
                    </th>
                    <th style="width: 100px;">
                        驾驶员
                    </th>
                    <th style="width: 200px;">
                        申请时间
                    </th>
                </tr>
                <tbody>
                <tr v-for="item in list1">
                    <td>
                        <div class="checkbox">
                            <label for="selectItem_{{item.id}}">
                                <input type="radio" v-model="selectOId" value="{{item.id}}"  id="selectItem_{{item.id}}">
                                <span class=" text"></span>
                            </label>
                        </div>
                    </td>
                    <td>{{item.code}}</td>
                    <td>{{item.oilCardName}}</td>
                    <td>{{item.confirmAmount}}</td>
                    <td>{{item.driverName}}</td>
                    <td>{{item.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">加油卡消耗凭证</span>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered ">
                    <thead>
                    <tr role="row">
                        <th style="width: 60px;" >
                            操作
                        </th>
                        <th style="width: 200px;">
                            加油卡号
                        </th>
                        <th style="width: 100px;">
                            加油金额
                        </th>
                        <th style="width: 100px;">
                            加油量
                        </th>
                        <th style="width: 100px;">
                            加油时间
                        </th>
                    </tr>
                    <tbody>
                    <tr v-for="item in list2">
                        <td>
                            <div class="checkbox">
                                <label for="selectItem_{{item.id}}">
                                    <input type="radio" v-model="selectRId" value="{{item.id}}" id="selectItem_{{item.id}}">
                                    <span class=" text"></span>
                                </label>
                            </div>
                        </td>
                        <td>{{item.carCode}}</td>
                        <td>{{item.amountOfMoney}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bootbox modal fade modal-primary in" id="modifyUploadOilCarRoofRelationship">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">备注</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <div id="form">
                    <validator name="v">
                        <form class="form-horizontal " name="form" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label no-padding-right">备注</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" class="form-control" v-model="item.note"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </validator>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                <button type="submit" class="btn btn-primary" v-on:click="save()" ><i class='fa    fa-floppy-o'></i>保存</button>
            </div>
        </div>
    </div>
</div>
<div class="bootbox modal fade modal-darkorange in" id="deleteUploadOilCarRoofRelationshipDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">删除</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">确认删除选中加油卡审批单？</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa   fa-mail-reply"></i> 取消</button>
                <button type="button" class="btn btn-danger" v-on:click="delete()"><i class="fa   fa-trash-o"></i>删除</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/liteuploader.js"></script>
<script src="~/Scripts/uploadOilCarRoofRelationship.js"></script>



