<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-palegreen">车辆送修结算单
            </div>
            <div class="body">
                <div class="table-toolbar">
                    <button type="button" class="btn btn-primary " v-on:click="query(0)"><i class="fa fa-search"></i>  搜索审批单</button>
                    <button type="button" class="btn btn-primary " v-on:click="audit()"><i class="fa fa-edit"></i>  审核</button>
                    <label>剩余金额:</label>
                    <label  class="label label-primary">{{balance}}</label>
                    <label>维修金额:</label>
                    <span class="label label-primary">
                        {{total}}
                    </span>
                </div>
                <div class="row" v-show="showItem">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                            <tr role="row">
                                <th style="width: 200px;">
                                    编号
                                </th>
                                <th style="width: 200px;">
                                    车辆型号
                                </th>
                                <th style="width: 200px;">
                                    车牌号
                                </th>
                                <th style="width: 200px;">
                                    行驶公里数
                                </th>
                                <th style="width: 200px;">
                                    驾驶员
                                </th>
                                <th style="width: 200px;">
                                    故障描述
                                </th>
                                <th style="width: 200px;">
                                    车场鉴定意见
                                </th>
                                <th style="width: 200px;">
                                    维修厂意见
                                </th>
                                <th style="width: 100px;">
                                    修别
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td>{{item.code}}</td>
                                <td>{{item.clxh}}</td>
                                <td>{{item.cph}}</td>
                                <td>{{item.killomiters}}</td>
                                <td>{{item.driverName}}</td>
                                <td>{{item.note}}</td>
                                <td>{{item.note2}}</td>
                                <td>{{item.note3}}</td>
                                <td>{{item.repairTypeName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-toolbar" v-show="showItem">
                    <h5 class="row-title before-palegreen" v-show="showItem"><i class="fa fa-align-justify palegreen"></i>工时费</h5>
                </div>

                <div class="row" v-show="showItem">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                            <tr role="row">
                                <th style="width: 200px;">
                                    维修部位
                                </th>
                                <th style="width: 200px;">
                                    工时类别
                                </th>
                                <th style="width: 200px;">
                                    工时收费标准
                                </th>
                                <th style="width: 200px;">
                                    预计工时
                                </th>
                                <th style="width: 200px;">
                                    实际工时
                                </th>
                                <th style="width: 200px;">
                                    预算价格
                                </th>
                                <th style="width: 200px;">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="m in manHour">
                                <td>{{m.partName}}</td>
                                <td>{{m.manHourName}}</td>
                                <td>{{m.manHourValue}}</td>
                                <td>{{m.hours1}}</td>
                                <td>{{m.hours2}}</td>
                                <td>{{m.hours2*m.manHourValue}}</td>
                                <td>
                                    <button type="button" class="btn   edit" v-on:click="showManHourDialog(m)"><i class="fa fa-edit"></i> 编辑</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-toolbar" v-show="showItem">
                    <h5 class="row-title before-palegreen" v-show="showItem"><i class="fa fa-align-justify palegreen"></i>维修材料费</h5>
                </div>

                <div class="row" v-show="showItem">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                            <tr role="row">
                                <th style="width: 200px;">
                                    维修部位
                                </th>
                                <th style="width: 200px;">
                                    维修材料名称
                                </th>
                                <th style="width: 200px;">
                                    市场公允单价
                                </th>
                                <th style="width: 200px;">
                                    预计数量
                                </th>
                                <th style="width: 200px;">
                                    实际数量
                                </th>
                                <th style="width: 200px;">
                                    预算价格
                                </th>
                                <th style="width: 200px;">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="m in materials">
                                <td>{{m.partName}}</td>
                                <td>{{m.materialName}}</td>
                                <td>{{m.materialValue}}</td>
                                <td>{{m.amount1}}</td>
                                <td>{{m.amount2}}</td>
                                <td>{{m.materialValue*m.amount2}}</td>
                                <td>
                                    <button type="button" class="btn   edit" v-on:click="showMaterialDialog(m)"><i class="fa fa-edit"></i> 编辑</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-toolbar" v-show="showItem">
                    <h5 class="row-title before-palegreen" v-show="showItem"><i class="fa fa-align-justify palegreen"></i>材料出库单</h5>
                </div>

                <div class="row" v-show="showItem">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                            <tr role="row">
                                <th style="width: 200px;">
                                    材料名称
                                </th>
                                <th style="width: 200px;">
                                    材料编码
                                </th>
                                <th style="width: 200px;">
                                    数量
                                </th>
                                <th style="width: 200px;">
                                    单价
                                </th>
                                <th style="width: 200px;">
                                    预算价格
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="m in deliveries">
                                <td>{{m.name}}</td>
                                <td>{{m.code}}</td>
                                <td>{{m.amount}}</td>
                                <td>{{m.price}}</td>
                                <td>{{m.amount *m.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--选择维修申请单-->
<div class="bootbox modal fade modal-primary in"  id="chooseAuditingItem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">选择维修审批单</h4>
                <div v-model="title"></div>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered ">
                    <thead>
                    <tr role="row">
                        <th style="width: 200px;">
                            编号
                        </th>
                        <th style="width: 200px;">
                            车辆型号
                        </th>
                        <th style="width: 200px;">
                            车牌号
                        </th>
                        <th style="width: 200px;">
                            驾驶员
                        </th>
                        <th>
                            审核时间
                        </th>
                        <th style="width: 200px;">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="m in list.items">
                        <td>{{m.code}}</td>
                        <td>{{m.clxh}}</td>
                        <td>{{m.cph}}</td>
                        <td>{{m.driverName}}</td>
                        <td>{{m.date}}</td>
                        <td>
                            <button type="button" class="btn   edit" v-on:click="select(m.id) "><i class="fa  fa-check"></i> 选择</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="DTTTFooter ">
                            <div class="col-sm-4">
                                <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite"> {{list.from}} - {{list.to}} / {{list.total}} </div>
                            </div>
                            <div class="col-sm-8 ">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <ul id="container" class="pagination"></ul>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--编辑工时费-->
<div class="bootbox modal fade modal-primary in" id="modifyManHourDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">填写实际工时</h4>
            </div>
            <div class="modal-body">
                <div id="form">
                    <validator name="v">
                        <form class="form-horizontal " name="form" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">维修部位</label>
                                <div class="col-sm-10">
                                    <label class=" control-label no-padding-left">{{manHourItem.partName}}</label>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">工时类别</label>
                                <div class="col-sm-10">
                                    <label class="control-label no-padding-left">{{manHourItem.manHourName}}</label>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">工时收费标准</label>
                                <div class="col-sm-10">
                                    <label class="control-label no-padding-left">{{manHourItem.manHourValue}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">预计工时</label>
                                <div class="col-sm-10">
                                    <label class=" control-label no-padding-left">{{manHourItem.hours1}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">实际工时<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="hours1" v-model="manHourItem.hours2" v-validate:hours2="{required:true}">
                                </div>
                            </div>
                        </form>
                    </validator>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                <button type="submit" class="btn btn-primary" v-on:click="updateManHour()" disabled="{{!$v.valid}}"><i class='fa    fa-floppy-o'></i>保存关闭</button>
            </div>
        </div>
    </div>
</div>

<!--编辑维修材料-->
<div class="bootbox modal fade modal-primary in" id="modifyMaterialDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">填写实际材料数量</h4>
            </div>
            <div class="modal-body">
                <div id="form">
                    <validator name="v1">
                        <form class="form-horizontal " name="form" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">维修部位</label>
                                <div class="col-sm-10">
                                    <label class=" control-label no-padding-left">{{materialItem.partName}}</label>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">维修材料名称</label>
                                <div class="col-sm-10">
                                    <label class="control-label no-padding-left">{{materialItem.materialName}}</label>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">市场公允单价</label>
                                <div class="col-sm-10">
                                    <label class="control-label no-padding-left">{{materialItem.materialValue}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">预计数量</label>
                                <div class="col-sm-10">
                                    <label class=" control-label no-padding-left">{{materialItem.amount1}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">实际数量<span class="red">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="amount2" v-model="materialItem.amount2" v-validate:amount2="{required:true}">
                                </div>
                            </div>
                        </form>
                    </validator>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa   fa-mail-reply'></i>取消</button>
                <button type="submit" class="btn btn-primary" v-on:click="updateMaterial()" disabled="{{!$v1.valid}}"><i class='fa    fa-floppy-o'></i>保存关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/audingForVehicleMaintenance3.js"></script>



