<div class="row">
<div class="col-xs-12 col-md-12">
<div class="widget">
<div class="widget-header bordered-bottom bordered-primary">
    <span class="widget-caption">系统配置</span>
</div>
<div class="widget-body">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<div class="tabbable">
<ul class="nav nav-tabs" id="myTab">
    <li class="tab-red active">
        <a data-toggle="tab" href="#unit" aria-expanded="false" id="punit">
            责任单位
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#users" aria-expanded="true" id="pusers">
            采购办人员库
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#designUnit" aria-expanded="false" id="pdesignUnit">
            设计单位
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#costUnit" aria-expanded="false" id="pcostUnit">
            造价单位
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#constructionControlUnit" aria-expanded="false" id="pconstructionControlUnit">
            监理单位
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#biddingAgency" aria-expanded="false" id="pbiddingAgency">
            招标代理单位
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#partyA" aria-expanded="false" id="ppartyA">
            甲方代表
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#expert" aria-expanded="false" id="pexpert">
            评标专家
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#priceConsistency" aria-expanded="false" id="ppriceConsistency">
            清单综合单价一致率
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#systemscore" aria-expanded="false" id="psystemscore">
            质量评价体系评分
        </a>
    </li>
    <li class=" ">
        <a data-toggle="tab" href="#blackList" aria-expanded="true" id="pblackList">
            黑名单保存年限
        </a>
    </li>
</ul>
<div class="tab-content">
<div id="unit" class="tab-pane active">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " 
           v-on:click="newItem('责任单位','Purchase_Unit')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th >
                        单位
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="users" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('采购办人员库','Purchase_Users')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        联系电话
                    </th>
                    <th style="width: 200px;">
                        部门
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="4"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="designUnit" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('设计单位','Purchase_DesignUnit')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        单位
                    </th>
                    <th style="width: 200px;">
                        开户银行
                    </th>
                    <th style="width: 200px;">
                        账号
                    </th>
                    <th style="width: 400px;">
                        通讯地址
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="partyA" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('甲方代表','Purchase_PartyA')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        联系电话
                    </th>
                    <th style="width: 200px;">
                        资质
                    </th>
                    <th style="width: 300px;">
                        资质证书号码
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="costUnit" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('造价单位','Purchase_CostUnit')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        单位
                    </th>
                    <th style="width: 200px;">
                        开户银行
                    </th>
                    <th style="width: 200px;">
                        账号
                    </th>
                    <th style="width: 400px;">
                        通讯地址
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="constructionControlUnit" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('监理单位','Purchase_ConstructionControlUnit')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        单位
                    </th>
                    <th style="width: 200px;">
                        开户银行
                    </th>
                    <th style="width: 200px;">
                        账号
                    </th>
                    <th style="width: 400px;">
                        通讯地址
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="biddingAgency" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('招标代理单位','Purchase_BiddingAgency')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        单位
                    </th>
                    <th style="width: 200px;">
                        开户银行
                    </th>
                    <th style="width: 200px;">
                        账号
                    </th>
                    <th style="width: 400px;">
                        通讯地址
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="expert" class="tab-pane ">
    <div class="table-toolbar">
        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('评标专家','Purchase_Expert')"><i class="fa  fa-plus"></i> 新增</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        姓名
                    </th>
                    <th style="width: 200px;">
                        联系电话
                    </th>
                    <th style="width: 200px;">
                        资质
                    </th>
                    <th style="width: 300px;">
                        资质证书号码
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>{{item.value4}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="5"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="priceConsistency" class="tab-pane ">
    <div class="table-toolbar">
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        一致率
                    </th>
                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value" showdel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="systemscore" class="tab-pane ">
    <div class="table-toolbar">
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 200px;">
                        优秀
                    </th>
                    <th style="width: 100px;">
                        良好
                    </th>
                    <th style="width: 100px;">
                        合格
                    </th>

                    <th style="width: 200px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{item.value3}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value" showdel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="4"></tfoot>
            </table>
        </div>
    </div>
</div>
<div id="blackList" class="tab-pane ">
    <div class="table-toolbar">
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                <tr role="row">
                    <th style="width: 100px;">
                        年限
                    </th>
                    <th style="width: 100px;">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list">
                    <td>{{item.value}}</td>
                    <td>
                        <row-command :id="item.id" :title="title" :name="item.value" showdel="false"></row-command>
                    </td>
                </tr>
                </tbody>
                <tfoot is="table-foot" colspan="2"></tfoot>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<div class="horizontal-space"></div>
</div>

</div>
</div>
</div>
</div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="purchaseUnitFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">{{name}}<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value" v-validate:value="{required:true}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="item.category=='Purchase_Users'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value2" v-model="item.value2"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">部门<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value3" v-model="item.value3"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="item.category=='Purchase_SystemScore'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">良好<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="number" class="form-control " placeholder="必填" name="value2" v-model="item.value2"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">合格<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="number" class="form-control " placeholder="必填" name="value3" v-model="item.value3"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="item.category=='Purchase_PartyA'||item.category=='Purchase_Expert'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value2" v-model="item.value2"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">资质<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value5" v-model="item.value5"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">资质证书号码<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value6" v-model="item.value6"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="item.category=='Purchase_DesignUnit' ||item.category=='Purchase_CostUnit' ||item.category=='Purchase_ConstructionControlUnit' ||item.category=='Purchase_BiddingAgency'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">开户银行<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value2" v-model="item.value2"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">账号<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value3" v-model="item.value3"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">通讯地址<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value4" v-model="item.value4"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">项目负责人<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value7" v-model="item.value7"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人1<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value8" v-model="item.value8"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人2<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value9" v-model="item.value9"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人3<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value10" v-model="item.value10"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">项目负责人电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value11" v-model="item.value11"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人1电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value12" v-model="item.value12"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人2电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value13" v-model="item.value13"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人3电话<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value14" v-model="item.value14"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">传真<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value15" v-model="item.value15"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">联系人电子邮件<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value16" v-model="item.value16"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">资质<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value5" v-model="item.value5"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">资质证书号码<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value6" v-model="item.value6"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Views/Purchase/purchaseInfoIndex.js"></script>