@model List<TAF.Utility.KeyValue<string, Guid>>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">入库单</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <add-button title="新增"></add-button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered ">
                            <thead>
                                <tr role="row">
                                    <th style="width: 200px;">
                                        商品名称
                                    </th>        
                                    <th style="width: 200px;">
                                        商品编码
                                    </th>        
                                    <th style="width: 100px;">
                                        入库量
                                    </th>        
                                    <th style="width: 200px;">
                                        单位
                                    </th> 
                                    <th style="width: 200px;">
                                        仓库
                                    </th>  
                                    <th style="width: 100px;">
                                        库存量
                                    </th>        
                                    <th style="width: 200px;">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in list">
                                    <td>{{item.name}}</td>
                                    <td>{{item.code}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>{{item.storageName}}</td>
                                    <td>{{item.stockBalance}}</td>
                                    <td>
                                      
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot is="table-foot" colspan="5"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dialog-delete></dialog-delete>
<script src="~/Scripts/entryBill.js"></script>



