@model List<TAF.Utility.KeyValue<string, Guid>>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">系统配置</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="tab-red active">
                                    <a data-toggle="tab" href="#unit" aria-expanded="false" id="punit">
                                        单位
                                    </a>
                                </li>
                                <li class=" ">
                                    <a data-toggle="tab" href="#storage" aria-expanded="true" id="pstorage">
                                        仓库
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="unit" class="tab-pane active">
                                    <div class="table-toolbar">
                                        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('单位','Mmaterial_ProductUnit')"><i class="fa  fa-plus"></i> 新增</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-striped table-hover table-bordered ">
                                                <thead>
                                                <tr role="row">
                                                    <th >
                                                        单位
                                                    </th>
                                                    <th  style="width: 200px;">
                                                        操作
                                                    </th>
                                                </tr>
                                                    <tr role="row">
                                                        <th>
                                                            <input type="text" class="form-control" placeholder="单位" v-model="queryEntity.value" />
                                                        </th>
                                                        <th>
                                                            <button type="button" class="btn edit" v-on:click="search('Mmaterial_ProductUnit')"><i class="fa fa-search"></i> 搜索</button>
                                                            <button type="button" class="btn edit" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="item in list">
                                                    <td>{{item.value}}</td>
                                                    <td>
                                                        <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot is="table-foot" colspan="2"></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="storage" class="tab-pane ">
                                    <div class="table-toolbar">
                                        <a href="javascript:void(0);" class="btn btn-primary " v-on:click="newItem('仓库','Mmaterial_Storage')"><i class="fa  fa-plus"></i> 新增</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-striped table-hover table-bordered ">
                                                <thead>
                                                    <tr role="row">
                                                        <th style="width: 200px;">
                                                            仓库
                                                        </th>
                                                        <th style="width: 200px;">
                                                            库管员
                                                        </th>
                                                        <th style="width: 200px;">
                                                            操作
                                                        </th>
                                                    </tr>
                                                    <tr role="row">
                                                        <th>
                                                            <input type="text" class="form-control" placeholder="仓库" v-model="queryEntity.value" />
                                                        </th>
                                                        <th>
                                                            <input type="text" class="form-control" placeholder="库管员" v-model="queryEntity.value2" />
                                                        </th>
                                                        <th>
                                                            <button type="button" class="btn edit" v-on:click="search('Mmaterial_Storage')"><i class="fa fa-search"></i> 搜索</button>
                                                            <button type="button" class="btn edit" v-on:click="resetSearch()"><i class="fa fa-times"></i> 重置</button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in list">
                                                        <td>{{item.value}}</td>
                                                        <td>{{item.value2}}</td>
                                                        <td>
                                                            <row-command :id="item.id" title="编辑" :name="item.value"></row-command>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot is="table-foot" colspan="3"></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-space"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="budgetUnitFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">{{item.title}}<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value" v-model="item.value" v-validate:value="{required:true}" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-show="item.category=='Mmaterial_Storage'">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">库管员<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="必填" name="value2" v-model="item.value2"  />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Scripts/productInfoIndex.js"></script>




