@model List<SCBF.Utility.KeyValue<string, Guid>>
<div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-primary">
                    <span class="widget-caption">任务管理</span>
                </div>
                <div class="widget-body">
                    <div class="table-toolbar">
                        <add-button title="新增"></add-button>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-striped table-hover table-bordered ">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 350px;">
                                            任务
                                        </th>
                                        <th style="width: 200px;">
                                            项目
                                        </th>
                                        <th style="width: 120px;">
                                            进度
                                        </th>
                                        <th style="width: 200px;">
                                            操作
                                        </th>
                                    </tr>
                                    <tr role="row">
                                        <th>
                                            <input type="text" class="form-control" placeholder="任务" v-model="queryEntity.name" />
                                        </th>
                                        <th>
                                            <select id="searchProjectId" style="width: 100%" v-model="queryEntity.projectId">
                                                <option value="">请选择...</option>
                                                @{
                                                    foreach (var item in Model)
                                                    {
                                                        <option value="@item.Value">@item.Key</option>
                                                    }
                                                }
                                            </select>
                                        </th>

                                        <th>
                                        </th>
                                        <th><search-command></search-command></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in list">
                                        <td>{{item.name}}</td>
                                        <td>{{item.projectName}}</td>
                                        <td>{{item.schedule}}</td>
                                        <td>
                                            <row-command :id="item.id" title="编辑" :name="item.name"></row-command>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot is="table-foot" colspan="4"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<dialog-delete></dialog-delete>
<form-edit></form-edit>
<template id="projectTaskFormBody">
    <div id="form">
        <validator name="v">
            <form class="form-horizontal " name="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="{'has-error':($v.name.required && $v.name.dirty),'has-success':$v.name.valid}">
                            <label class="col-sm-2 control-label no-padding-right">名称<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control " placeholder="名称" name="name" v-model="item.name" v-validate:name="{required:true}" />
                                    <i class="form-control-feedback bv-no-label glyphicon glyphicon-remove" v-if="$v.name.required && $v.name.dirty"></i>
                                    <i class="form-control-feedback bv-no-label glyphicon glyphicon-ok" v-if="$v.name.valid"></i>
                                </span>
                                <small class="help-block" v-if="$v.name.required && $v.name.dirty">名称不能为空</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">项目<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <select id="searchEditProjectId" style="width: 100%" v-model="item.projectId" name="projectId" v-validate:projectId="{required:true}">
                                    <option value="">请选择...</option>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">进度<span class="red">*</span></label>
                            <div class="col-sm-10">
                                <div class="spinbox spinbox-horizontal spinbox-right" id="spinboxSchedule">
                                    <div class="spinbox-buttons	btn-group">
                                        <button type="button" class="btn spinbox-down blueberry">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn spinbox-up purple">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control spinbox-input " placeholder="Schedule" id="schedule" name="schedule" v-model="item.schedule" v-validate:schedule="{required:true}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label no-padding-right">备注</label>
                            <div class="col-sm-10">
                                <span class="input-icon icon-right">
                                    <textarea type="text" class="form-control " placeholder="备注"  v-model="item.note"  rows="10"></textarea>
                                </span>
                                <small class="help-block" v-if="$v.name.required && $v.name.dirty">名称不能为空</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </validator>
    </div>
</template>
<script src="~/Scripts/projectTask.js"></script>



